.wp-block-xynity-blocks-slider {
	.content {
		// Fix the height to align properly
		.block-editor-block-list__layout {
			position: initial !important;
			section.wp-block-xynity-blocks-slider-child {
				.block-editor-inner-blocks {
					height: 100%;
					.block-editor-block-list__layout {
						height: 100%;
						position: initial !important;
					}
				}
			}
		}
	}
}

// Required for some @wordpress/icons icon
.rotate-90 {
	transform: rotate(90deg);
}

.-rotate-90 {
	transform: rotate(-90deg);
}
