/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-xynity-blocks-slider {
	.indicator {
		width: 100%;
		position: absolute;
		bottom: 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;

		span {
			display: inline-block;
		}
	}

	.controller {
		width: 100%;
		position: absolute;
		top: 50%;
		display: flex;
		align-content: center;
		justify-content: space-between;

		span {
			display: inline-block;
		}
	}
}
