.wp-block-xynity-blocks-slider {
	position: relative;
	overflow: hidden;

	.indicator {
		width: 100%;
		position: absolute;
		z-index: 5;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			user-select: none;
			display: inline-block;
			cursor: pointer;
			font-size: 1.2rem;

			&:not(.active) {
				margin-top: 0.2rem;
			}

			// Active
			&.active {
				font-size: 2rem;
				color: gainsboro;
			}
		}
	}

	.controller {
		width: 100%;
		position: absolute;
		z-index: 5;
		top: 50%;
		display: flex;
		align-content: center;
		justify-content: space-between;

		span {
			user-select: none;
			display: inline-block;
			cursor: pointer;
			padding: 2px;
		}
	}

	.content {
		section.wp-block-xynity-blocks-slider-child {
			height: 100%;
			position: absolute;
			z-index: -1;
			inset: 0;
			width: 100%;
			opacity: 0;
			transition-property: opacity;
			transition-duration: 200ms;

			// Center the image
			figure.wp-block-image {
				height: 100%;
				display: flex;
				flex-direction: row !important;
				align-items: center;
				justify-content: center;
			}
		}

		// Move to center
		section.wp-block-xynity-blocks-slider-child.center,

		// Show the first child 
		// Initial
		&[currentslideitem="1"] section.wp-block-xynity-blocks-slider-child:first-child {
			z-index: 2;
			opacity: 1;
		}
	}
}
