.wp-block-xynity-blocks-slider {
	position: relative;
	overflow: hidden;

	.indicator {
		width: 100%;
		position: absolute;
		z-index: 5;
		bottom: 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;

		span {
			display: inline-block;
			cursor: pointer;
		}
	}

	.controller {
		width: 100%;
		position: absolute;
		z-index: 5;
		top: 50%;
		display: flex;
		align-content: center;
		justify-content: space-between;

		span {
			display: inline-block;
			cursor: pointer;
			padding: 2px;
		}
	}

	.content {
		position: relative;

		section.wp-block-xynity-blocks-slider-child {
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: -100%;
			width: 100%;
			transition-property: right, left;
			transition-duration: 200ms;

			// Center the image
			figure.wp-block-image {
				display: flex;
				flex-direction: row !important;
				align-items: center;
				justify-content: center;
			}
		}

		&.right-init section.wp-block-xynity-blocks-slider-child {
			left: unset;
			right: -100%;
		}

		// Move to center
		section.wp-block-xynity-blocks-slider-child.center,
		// Center the first child 
		// Until any navigation action occurs
		&.no-navigation section.wp-block-xynity-blocks-slider-child:first-child {
			left: 0;
			right: 0;
			z-index: 5;
		}

		// Move to right
		section.wp-block-xynity-blocks-slider-child.right {
			left: unset;
			right: -100%;
		}

		// Move to left
		section.wp-block-xynity-blocks-slider-child.left {
			right: unset;
			left: -100%;
		}
	}
}
